openapi: 3.1.0
info:
  title: Flipturn Access IDs Errors API
  version: '1.0'
  description: 'The Flipturn API provides read and write access to the Flipturn EV charging management platform: sites, chargers and ports, charging sessions, charger health and uptime, access IDs (RFID cards and vehicles), vehicles, alerts, charger errors, raw OCPP messages, reservations, site power limits, vehicle departure times, and maintenance windows. It is a JSON REST API secured with a bearer API key, designed for integrating Flipturn charging data with ticketing platforms, data warehouses, transportation management systems, and fleet operations tooling. Flipturn also supports OCPI for roaming-partner integration (contact support to enable).'
  contact:
    name: Flipturn Support
    email: support@getflipturn.com
    url: https://api-docs.getflipturn.com/
  x-apievangelist-generated: '2026-07-19'
  x-apievangelist-method: generated
  x-apievangelist-source: https://api-docs.getflipturn.com/llms.txt
servers:
- url: https://api.getflipturn.com/api
  description: Production
security:
- bearerAuth: []
tags:
- name: Errors
  description: Charger error records.
paths:
  /errors:
    get:
      operationId: listErrors
      tags:
      - Errors
      summary: List charger errors
      description: Retrieve a paginated list of charger errors in reverse chronological order (up to 2000 rows per page). Mirrors the Charger errors report.
      parameters:
      - name: afterTimestamp
        in: query
        description: 'ISO 8601: errors at or after this time.'
        schema:
          type: string
          format: date-time
      - name: beforeTimestamp
        in: query
        description: 'ISO 8601: errors at or before this time.'
        schema:
          type: string
          format: date-time
      - name: organizationIds
        in: query
        description: Filter to organizations (multi-org keys).
        schema:
          type: array
          items:
            type: integer
      - name: siteIds
        in: query
        description: Restrict to chargers at these sites.
        schema:
          type: array
          items:
            type: integer
      - name: chargerIds
        in: query
        description: Restrict to these chargers.
        schema:
          type: array
          items:
            type: integer
      - $ref: '#/components/parameters/NextPageCursor'
      responses:
        '200':
          description: A paginated list of charger errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChargerError'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    PortRef:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        portNumber:
          type: integer
        maximumPowerKw:
          type: number
          nullable: true
    CurrentChargingSession:
      type: object
      nullable: true
      properties:
        id:
          type: integer
        startTime:
          type: string
          format: date-time
        socStartPercent:
          type: number
          nullable: true
        energyDeliveredKwh:
          type: number
        ocppIdTag:
          type: string
          nullable: true
        ocppTransactionId:
          type: integer
          nullable: true
        vehicle:
          $ref: '#/components/schemas/VehicleRef'
        customer:
          $ref: '#/components/schemas/Customer'
    VehicleRef:
      type: object
      nullable: true
      properties:
        id:
          type: integer
        name:
          type: string
          nullable: true
        make:
          type: string
          nullable: true
        model:
          type: string
          nullable: true
        vin:
          type: string
          nullable: true
    SiteRef:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        locationId:
          type: string
          nullable: true
    Error:
      type: object
      description: Flipturn error envelope.
      properties:
        error:
          type: string
          description: Human-readable error message.
    Organization:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    Port:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        portNumber:
          type: integer
        maximumPowerKw:
          type: number
          nullable: true
        connectorType:
          type: string
          description: CCS1, J1772, or NACS.
        ocppStatus:
          type: object
          nullable: true
          properties:
            status:
              type: string
            timestamp:
              type: string
              format: date-time
            errorCode:
              type: string
            vendorErrorCode:
              type: string
              nullable: true
            info:
              type: string
              nullable: true
        currentChargingSession:
          $ref: '#/components/schemas/CurrentChargingSession'
    Charger:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        manufacturer:
          type: string
          nullable: true
        model:
          type: string
          nullable: true
        serialNumber:
          type: string
          nullable: true
        firmwareVersion:
          type: string
          nullable: true
        latitude:
          type: number
          nullable: true
        longitude:
          type: number
          nullable: true
        externalId:
          type: string
          nullable: true
        ocppId:
          type: string
          nullable: true
        type:
          type: string
          description: '"DCFC" or "Level 2".'
        networkServiceProvider:
          type: string
        chargerType:
          type: string
        numberOfPorts:
          type: integer
        powerSharing:
          type: boolean
        connectionStatus:
          type: object
          nullable: true
          properties:
            status:
              type: string
            timestamp:
              type: string
              format: date-time
        ports:
          type: array
          items:
            $ref: '#/components/schemas/Port'
    Customer:
      type: object
      properties:
        name:
          type: string
    ChargerError:
      type: object
      properties:
        id:
          type: integer
        timestamp:
          type: string
          format: date-time
        ocppErrorCode:
          type: string
        vendorErrorCode:
          type: string
          nullable: true
        ocppInfo:
          type: string
          nullable: true
        ocppStatus:
          type: string
        errorCategory:
          type: string
          enum:
          - endedCharging
          - preventedCharging
          - muted
          - other
        chargingSession:
          type: object
          nullable: true
        site:
          $ref: '#/components/schemas/SiteRef'
        charger:
          $ref: '#/components/schemas/Charger'
        port:
          $ref: '#/components/schemas/PortRef'
        organization:
          $ref: '#/components/schemas/Organization'
    Pagination:
      type: object
      properties:
        hasNextPage:
          type: boolean
        nextPageCursor:
          type: string
          nullable: true
  responses:
    Unauthorized:
      description: Invalid API key or Authorization header.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    NextPageCursor:
      name: nextPageCursor
      in: query
      description: Opaque cursor from the previous response's pagination.nextPageCursor to fetch the next page. Keep all other parameters identical.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'API key passed as a bearer token in the Authorization header: `Authorization: Bearer {api_key}`. Keys are created in the Flipturn app (Manage > API Keys) by an Owner and can be scoped to specific sites or chargers.'
