openapi: 3.1.0
info:
  title: Flipturn API
  version: '1.0'
  description: >-
    The Flipturn API provides read and write access to the Flipturn EV charging
    management platform: sites, chargers and ports, charging sessions, charger
    health and uptime, access IDs (RFID cards and vehicles), vehicles, alerts,
    charger errors, raw OCPP messages, reservations, site power limits, vehicle
    departure times, and maintenance windows. It is a JSON REST API secured with
    a bearer API key, designed for integrating Flipturn charging data with
    ticketing platforms, data warehouses, transportation management systems, and
    fleet operations tooling. Flipturn also supports OCPI for roaming-partner
    integration (contact support to enable).
  contact:
    name: Flipturn Support
    email: support@getflipturn.com
    url: https://api-docs.getflipturn.com/
  x-apievangelist-generated: '2026-07-19'
  x-apievangelist-method: generated
  x-apievangelist-source: https://api-docs.getflipturn.com/llms.txt
servers:
  - url: https://api.getflipturn.com/api
    description: Production
security:
  - bearerAuth: []
tags:
  - name: Sites
    description: Sites, their chargers and ports, and current status.
  - name: Chargers
    description: Individual charger detail lookups.
  - name: Charging Sessions
    description: Historical and in-progress charging sessions.
  - name: Charger Health
    description: Uptime, error, and utilization statistics.
  - name: Access IDs
    description: RFID cards and vehicle MAC IDs used to authorize charging.
  - name: Vehicles
    description: Electric vehicles and their associated access IDs.
  - name: Alerts
    description: Alerts raised by the platform.
  - name: Errors
    description: Charger error records.
  - name: OCPP Messages
    description: Raw OCPP protocol messages for a charger.
  - name: Reservations
    description: OCPP ReserveNow / CancelReservation port reservations.
  - name: Site Power Limits
    description: Cost and capacity power limits for a site.
  - name: Departure Times
    description: Scheduled vehicle departure times synced from a TMS.
  - name: Maintenance Windows
    description: Scheduled maintenance windows for chargers.
paths:
  /sites:
    get:
      operationId: listSites
      tags: [Sites]
      summary: List sites
      description: >-
        Retrieve all of an organization's sites, chargers, and ports, along with
        their most recent status and details about any ongoing charging
        sessions. Takes no parameters and returns everything each call.
      responses:
        '200':
          description: A nested list of sites, chargers, and ports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Site' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /chargers/{id}:
    get:
      operationId: getCharger
      tags: [Chargers]
      summary: Get a charger by internal ID
      description: Retrieve detailed information about a specific charger by its internal Flipturn ID, including ports, connection status, and any ongoing session.
      parameters:
        - name: id
          in: path
          required: true
          description: The internal ID of the charger.
          schema: { type: integer }
      responses:
        '200':
          description: Charger detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Charger' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /chargers/by-external-id/{id}:
    get:
      operationId: getChargerByExternalId
      tags: [Chargers]
      summary: Get a charger by external (network station) ID
      description: Retrieve a charger by its external network station ID. Response structure is identical to getCharger.
      parameters:
        - name: id
          in: path
          required: true
          description: The external ID (network station ID) of the charger.
          schema: { type: string }
      responses:
        '200':
          description: Charger detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Charger' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /chargers/by-ocpp-id/{id}:
    get:
      operationId: getChargerByOcppId
      tags: [Chargers]
      summary: Get a charger by OCPP ID
      description: Retrieve a charger by its OCPP identifier. Response structure is identical to getCharger.
      parameters:
        - name: id
          in: path
          required: true
          description: The OCPP identifier of the charger.
          schema: { type: string }
      responses:
        '200':
          description: Charger detail.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Charger' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /charging-sessions:
    get:
      operationId: listChargingSessions
      tags: [Charging Sessions]
      summary: List charging sessions
      description: >-
        Retrieve a paginated list of charging sessions, filterable by start/end
        time, site, charger, and customer. Optional includes add per-interval
        statistics, time-of-use energy, and in-progress sessions. Results are
        paginated with an opaque cursor.
      parameters:
        - { name: startTimeAfter, in: query, description: 'ISO 8601: only sessions started at or after this time.', schema: { type: string, format: date-time } }
        - { name: startTimeBefore, in: query, description: 'ISO 8601: only sessions started before this time.', schema: { type: string, format: date-time } }
        - { name: endTimeAfter, in: query, description: 'ISO 8601: only sessions ended at or after this time.', schema: { type: string, format: date-time } }
        - { name: endTimeBefore, in: query, description: 'ISO 8601: only sessions ended before this time.', schema: { type: string, format: date-time } }
        - { name: includeIntervals, in: query, description: 'Include per-15-minute interval statistics and max demand. Limits the key to 1 concurrent request.', schema: { type: boolean } }
        - { name: includeTouEnergy, in: query, description: Include energy usage grouped into time-of-use periods., schema: { type: boolean } }
        - { name: includeInProgressSessions, in: query, description: Include charging sessions that are in progress., schema: { type: boolean } }
        - { name: siteIds, in: query, description: 'Filter by site IDs, e.g. siteIds[]=101&siteIds[]=102.', schema: { type: array, items: { type: integer } } }
        - { name: chargerIds, in: query, description: Filter by charger IDs., schema: { type: array, items: { type: integer } } }
        - { name: customerIds, in: query, description: Filter by customer IDs., schema: { type: array, items: { type: integer } } }
        - { name: customerNames, in: query, description: Filter by customer names., schema: { type: array, items: { type: string } } }
        - { $ref: '#/components/parameters/NextPageCursor' }
      responses:
        '200':
          description: A paginated list of charging sessions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ChargingSession' }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /charger-health:
    get:
      operationId: getChargerHealth
      tags: [Charger Health]
      summary: Get charger health statistics
      description: >-
        Retrieve health, uptime, error, and utilization statistics for all
        chargers in an organization over a time interval, grouped by charger and
        port. Defaults to the last 30 days. Subject to stricter rate limits.
      parameters:
        - { name: startTimestamp, in: query, description: 'ISO 8601 start of interval. Defaults to 30 days ago.', schema: { type: string, format: date-time } }
        - { name: endTimestamp, in: query, description: 'ISO 8601 end of interval. Defaults to now; future dates capped at now.', schema: { type: string, format: date-time } }
        - { name: siteIds, in: query, description: Filter by site IDs., schema: { type: array, items: { type: integer } } }
        - { name: chargerIds, in: query, description: Filter by charger IDs., schema: { type: array, items: { type: integer } } }
      responses:
        '200':
          description: Aggregate summary plus per-charger and per-port statistics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary: { type: object }
                  data: { type: array, items: { type: object } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /access-ids:
    get:
      operationId: listAccessIds
      tags: [Access IDs]
      summary: List access IDs
      description: Retrieve a paginated list of all access IDs (RFID cards and vehicle MAC IDs).
      parameters:
        - { $ref: '#/components/parameters/NextPageCursor' }
      responses:
        '200':
          description: A paginated list of access IDs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/AccessId' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: createAccessId
      tags: [Access IDs]
      summary: Create an access ID
      description: >-
        Create a new access ID of type RFID or Vehicle. For a Vehicle, either
        create a new vehicle inline or associate an existing one via vehicleId.
        An optional customer is created if no case-insensitive name match exists.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessId]
              properties:
                accessId: { $ref: '#/components/schemas/AccessIdCreate' }
      responses:
        '200':
          description: The created access ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessId: { $ref: '#/components/schemas/AccessId' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /access-ids/{id}:
    get:
      operationId: getAccessId
      tags: [Access IDs]
      summary: Get an access ID
      description: Retrieve the details for a specific access ID (RFID card or vehicle).
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: The access ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessId: { $ref: '#/components/schemas/AccessId' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateAccessId
      tags: [Access IDs]
      summary: Update an access ID
      description: 'Update an access ID. For optional fields, explicitly providing null deletes the value.'
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessId]
              properties:
                accessId:
                  type: object
                  properties:
                    name: { type: string }
                    authorizationStatus: { type: string, enum: [Authorized, Revoked] }
                    vehicle: { type: object, properties: { make: { type: string }, model: { type: string }, vin: { type: string } } }
                    customer: { type: object, properties: { name: { type: string } } }
      responses:
        '200':
          description: The updated access ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessId: { $ref: '#/components/schemas/AccessId' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /access-ids/batch:
    put:
      operationId: batchUpsertAccessIds
      tags: [Access IDs]
      summary: Batch create or update access IDs
      description: >-
        Create or update up to 1000 access IDs in one request, matched by
        ocppIdTag. Vehicles are matched by case-insensitive name. Access IDs not
        included are never deleted. Each result carries an outcome of created,
        updated, or error.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accessIds]
              properties:
                accessIds:
                  type: array
                  maxItems: 1000
                  items: { $ref: '#/components/schemas/AccessIdBatchItem' }
      responses:
        '200':
          description: Per-item results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        ocppIdTag: { type: string }
                        outcome: { type: string, enum: [created, updated, error] }
                        accessId: { $ref: '#/components/schemas/AccessId' }
                        error: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /vehicles:
    get:
      operationId: listVehicles
      tags: [Vehicles]
      summary: List vehicles
      description: Retrieve a paginated list of all electric vehicles and their associated access IDs.
      parameters:
        - { $ref: '#/components/parameters/NextPageCursor' }
      responses:
        '200':
          description: A paginated list of vehicles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Vehicle' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      operationId: createVehicle
      tags: [Vehicles]
      summary: Create a vehicle
      description: Create a new vehicle, optionally associating one or more access IDs and a customer.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vehicle]
              properties:
                vehicle: { $ref: '#/components/schemas/VehicleCreate' }
      responses:
        '200':
          description: The created vehicle.
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle: { $ref: '#/components/schemas/Vehicle' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /vehicles/{id}:
    get:
      operationId: getVehicle
      tags: [Vehicles]
      summary: Get a vehicle
      description: Retrieve the details for a specific vehicle.
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      responses:
        '200':
          description: The vehicle.
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle: { $ref: '#/components/schemas/Vehicle' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      operationId: updateVehicle
      tags: [Vehicles]
      summary: Update a vehicle
      description: 'Update a vehicle. Explicitly providing null deletes an optional value; omitting a field leaves it unchanged.'
      parameters:
        - { name: id, in: path, required: true, schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vehicle]
              properties:
                vehicle: { $ref: '#/components/schemas/VehicleCreate' }
      responses:
        '200':
          description: The updated vehicle.
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicle: { $ref: '#/components/schemas/Vehicle' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /alerts:
    get:
      operationId: listAlerts
      tags: [Alerts]
      summary: List alerts
      description: >-
        Retrieve a paginated list of alerts (low battery, charging completed,
        charging session error, offline charger, late charging).
      parameters:
        - { name: startTimestampAfter, in: query, description: 'ISO 8601: only alerts sent after this time.', schema: { type: string, format: date-time } }
        - { name: alertRecipientIds, in: query, description: Filter to alerts sent to specific recipient IDs., schema: { type: array, items: { type: integer } } }
        - { name: includeMuted, in: query, description: Include muted alerts that were not sent to users. Defaults to false., schema: { type: boolean } }
        - { $ref: '#/components/parameters/NextPageCursor' }
      responses:
        '200':
          description: A paginated list of alerts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/Alert' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /errors:
    get:
      operationId: listErrors
      tags: [Errors]
      summary: List charger errors
      description: >-
        Retrieve a paginated list of charger errors in reverse chronological
        order (up to 2000 rows per page). Mirrors the Charger errors report.
      parameters:
        - { name: afterTimestamp, in: query, description: 'ISO 8601: errors at or after this time.', schema: { type: string, format: date-time } }
        - { name: beforeTimestamp, in: query, description: 'ISO 8601: errors at or before this time.', schema: { type: string, format: date-time } }
        - { name: organizationIds, in: query, description: Filter to organizations (multi-org keys)., schema: { type: array, items: { type: integer } } }
        - { name: siteIds, in: query, description: Restrict to chargers at these sites., schema: { type: array, items: { type: integer } } }
        - { name: chargerIds, in: query, description: Restrict to these chargers., schema: { type: array, items: { type: integer } } }
        - { $ref: '#/components/parameters/NextPageCursor' }
      responses:
        '200':
          description: A paginated list of charger errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/ChargerError' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /ocpp-messages:
    get:
      operationId: listOcppMessages
      tags: [OCPP Messages]
      summary: List OCPP messages for a charger
      description: >-
        Retrieve raw OCPP (Open Charge Point Protocol) messages for a specific
        charger, newest first. The date range must be under 8 days. Page size is
        controlled by limit (default 50, max 500).
      parameters:
        - { name: chargerId, in: query, required: true, description: The ID of the charger to retrieve messages for., schema: { type: integer } }
        - { name: startTimestamp, in: query, description: 'ISO 8601: messages after this time. Defaults to 24 hours ago.', schema: { type: string, format: date-time } }
        - { name: endTimestamp, in: query, description: 'ISO 8601: messages before this time. Defaults to now.', schema: { type: string, format: date-time } }
        - { name: messageType, in: query, description: 'Filter by OCPP message type(s), e.g. Authorize or messageType[]=StartTransaction.', schema: { type: array, items: { type: string } } }
        - { name: limit, in: query, description: Page size (default 50, max 500)., schema: { type: integer, default: 50, maximum: 500 } }
        - { $ref: '#/components/parameters/NextPageCursor' }
      responses:
        '200':
          description: A paginated list of OCPP messages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/OcppMessage' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /ocpp/reservations:
    post:
      operationId: createReservation
      tags: [Reservations]
      summary: Reserve a charging port
      description: >-
        Reserve a charging port for a specific user via the OCPP ReserveNow
        message. The reservation is active immediately and expires at
        expiryDate. Supports OCPP 1.6 and 2.0.1 chargers with the Reservation
        profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [portId, expiryDate, idTag, reservationId]
              properties:
                portId: { type: integer, description: Flipturn charging port ID. }
                expiryDate: { type: string, format: date-time, description: ISO 8601 datetime when the reservation expires. }
                idTag: { type: string, maxLength: 20, description: 'Identifier of the user (RFID UID, token, etc).' }
                reservationId: { type: integer, description: Unique caller-assigned integer identifier for this reservation. }
                parentIdTag: { type: string, description: Optional parent identifier for group reservations (OCPP 1.6 only). }
                idTokenType: { type: string, enum: [Central, eMAID, ISO14443, ISO15693, KeyCode, Local, MacAddress], description: 'OCPP 2.0.1 only. Defaults to Central.' }
      responses:
        '200':
          description: Reservation outcome.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status: { type: string, enum: [Accepted, Faulted, Occupied, Rejected, Unavailable] }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /ocpp/reservations/cancel:
    post:
      operationId: cancelReservation
      tags: [Reservations]
      summary: Cancel a reservation
      description: Cancel an active reservation on a charger via the OCPP CancelReservation message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chargerId, reservationId]
              properties:
                chargerId: { type: integer, description: Flipturn charger ID. }
                reservationId: { type: integer, description: The reservation ID used when creating the reservation. }
      responses:
        '200':
          description: Cancellation outcome.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status: { type: string, enum: [Accepted, Rejected] }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /site/{site-id}/limits:
    get:
      operationId: getSitePowerLimits
      tags: [Site Power Limits]
      summary: Get site power limits
      description: Return the active cost and/or capacity power limits for a site (up to one schedule per type). Returns an empty array if none are set.
      parameters:
        - { name: site-id, in: path, required: true, description: Flipturn site ID., schema: { type: integer } }
      responses:
        '200':
          description: The site's power limit schedules.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sitePowerLimitSchedules: { type: array, items: { $ref: '#/components/schemas/SitePowerLimitSchedule' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      operationId: createSitePowerLimit
      tags: [Site Power Limits]
      summary: Create a site power limit
      description: >-
        Create a new site power limit, replacing the current limit of that type.
        Cost limits are a soft cap; capacity limits are a hard cap. Amp-based
        limits are not supported on sites containing DCFC chargers.
      parameters:
        - { name: site-id, in: path, required: true, description: Flipturn site ID., schema: { type: integer } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sitePowerLimitSchedule]
              properties:
                sitePowerLimitSchedule:
                  type: object
                  required: [type, limit, chargingRateUnit]
                  properties:
                    type: { type: string, enum: [cost, capacity] }
                    limit: { type: integer, description: Positive integer limit. }
                    chargingRateUnit: { type: string, enum: [W, A], description: Watts or amps. }
      responses:
        '200':
          description: The created schedule ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sitePowerLimitScheduleId: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /site/{site-id}/limits/{schedule-id}:
    delete:
      operationId: deleteSitePowerLimit
      tags: [Site Power Limits]
      summary: Delete a site power limit
      description: Remove a site power limit schedule.
      parameters:
        - { name: site-id, in: path, required: true, schema: { type: integer } }
        - { name: schedule-id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Deleted.
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /departure-times/vehicle:
    post:
      operationId: syncVehicleDepartureTimes
      tags: [Departure Times]
      summary: Sync departure times for a vehicle
      description: >-
        Atomically replace all future departure times for a single vehicle
        (identified by vehicleVin or vehicleId, not both). Past departures in the
        request are skipped; existing past departures are left unchanged.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [departureTimes]
              properties:
                vehicleVin: { type: string, description: Either VIN or vehicle ID must be provided. }
                vehicleId: { type: integer }
                departureTimes:
                  type: array
                  items: { $ref: '#/components/schemas/DepartureTimeInput' }
      responses:
        '200':
          description: Per-departure outcomes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  departureTimes: { type: array, items: { $ref: '#/components/schemas/DepartureTimeResult' } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /departure-times/batch:
    post:
      operationId: batchSyncDepartureTimes
      tags: [Departure Times]
      summary: Sync departure times for multiple vehicles
      description: Sync departure times for multiple vehicles in a single request. Each vehicle is processed independently.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [vehicles]
              properties:
                vehicles:
                  type: array
                  items:
                    type: object
                    required: [departureTimes]
                    properties:
                      vehicleVin: { type: string }
                      vehicleId: { type: integer }
                      departureTimes:
                        type: array
                        items: { $ref: '#/components/schemas/DepartureTimeInput' }
      responses:
        '200':
          description: Per-vehicle results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        vehicleId: { type: integer, nullable: true }
                        vehicleVin: { type: string, nullable: true }
                        outcome: { type: string, enum: [success, error] }
                        departureTimes: { type: array, items: { $ref: '#/components/schemas/DepartureTimeResult' } }
                        error: { type: string }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /maintenance-windows:
    get:
      operationId: listMaintenanceWindows
      tags: [Maintenance Windows]
      summary: List maintenance windows
      description: >-
        Retrieve a paginated list of maintenance windows across chargers (up to
        50 per page). Parent-org keys return windows for all child organizations.
      parameters:
        - { name: afterTimestamp, in: query, description: 'ISO 8601: windows whose end time is after this timestamp.', schema: { type: string, format: date-time } }
        - { name: beforeTimestamp, in: query, description: 'ISO 8601: windows whose start time is before this timestamp.', schema: { type: string, format: date-time } }
        - { name: chargerIds, in: query, description: Filter to specific charger IDs., schema: { type: array, items: { type: integer } } }
        - { name: siteIds, in: query, description: Filter to chargers at specific site IDs., schema: { type: array, items: { type: integer } } }
        - { name: organizationIds, in: query, description: Filter to specific organization IDs (parent-org keys only)., schema: { type: array, items: { type: integer } } }
        - { $ref: '#/components/parameters/NextPageCursor' }
      responses:
        '200':
          description: A paginated list of maintenance windows.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/MaintenanceWindow' } }
                  pagination: { $ref: '#/components/schemas/Pagination' }
        '401': { $ref: '#/components/responses/Unauthorized' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        API key passed as a bearer token in the Authorization header:
        `Authorization: Bearer {api_key}`. Keys are created in the Flipturn app
        (Manage > API Keys) by an Owner and can be scoped to specific sites or
        chargers.
  parameters:
    NextPageCursor:
      name: nextPageCursor
      in: query
      description: Opaque cursor from the previous response's pagination.nextPageCursor to fetch the next page. Keep all other parameters identical.
      schema: { type: string }
  responses:
    BadRequest:
      description: Invalid parameters passed to the API endpoint.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Invalid API key or Authorization header.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: The requested resource or endpoint does not exist.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Rate limit exceeded (200 requests per minute per API key).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      description: Flipturn error envelope.
      properties:
        error: { type: string, description: Human-readable error message. }
    Pagination:
      type: object
      properties:
        hasNextPage: { type: boolean }
        nextPageCursor: { type: string, nullable: true }
    Organization:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
    Customer:
      type: object
      properties:
        name: { type: string }
    Site:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        address: { type: string, nullable: true }
        timezone: { type: string, description: IANA timezone. }
        organization: { $ref: '#/components/schemas/Organization' }
        chargers: { type: array, items: { $ref: '#/components/schemas/Charger' } }
    Charger:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        manufacturer: { type: string, nullable: true }
        model: { type: string, nullable: true }
        serialNumber: { type: string, nullable: true }
        firmwareVersion: { type: string, nullable: true }
        latitude: { type: number, nullable: true }
        longitude: { type: number, nullable: true }
        externalId: { type: string, nullable: true }
        ocppId: { type: string, nullable: true }
        type: { type: string, description: '"DCFC" or "Level 2".' }
        networkServiceProvider: { type: string }
        chargerType: { type: string }
        numberOfPorts: { type: integer }
        powerSharing: { type: boolean }
        connectionStatus:
          type: object
          nullable: true
          properties:
            status: { type: string }
            timestamp: { type: string, format: date-time }
        ports: { type: array, items: { $ref: '#/components/schemas/Port' } }
    Port:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        portNumber: { type: integer }
        maximumPowerKw: { type: number, nullable: true }
        connectorType: { type: string, description: 'CCS1, J1772, or NACS.' }
        ocppStatus:
          type: object
          nullable: true
          properties:
            status: { type: string }
            timestamp: { type: string, format: date-time }
            errorCode: { type: string }
            vendorErrorCode: { type: string, nullable: true }
            info: { type: string, nullable: true }
        currentChargingSession: { $ref: '#/components/schemas/CurrentChargingSession' }
    CurrentChargingSession:
      type: object
      nullable: true
      properties:
        id: { type: integer }
        startTime: { type: string, format: date-time }
        socStartPercent: { type: number, nullable: true }
        energyDeliveredKwh: { type: number }
        ocppIdTag: { type: string, nullable: true }
        ocppTransactionId: { type: integer, nullable: true }
        vehicle: { $ref: '#/components/schemas/VehicleRef' }
        customer: { $ref: '#/components/schemas/Customer' }
    ChargingSession:
      type: object
      properties:
        id: { type: integer }
        startTime: { type: string, format: date-time }
        endTime: { type: string, format: date-time, nullable: true }
        updatedAt: { type: string, format: date-time }
        durationSeconds: { type: integer, nullable: true }
        chargingStartTime: { type: string, format: date-time }
        chargingEndTime: { type: string, format: date-time, nullable: true }
        chargingDurationSeconds: { type: integer, nullable: true }
        socStartPercent: { type: number, nullable: true }
        socEndPercent: { type: number, nullable: true }
        energyDeliveredKwh: { type: number, nullable: true }
        averageDemandKw: { type: number, nullable: true }
        maxDemandKw: { type: number, nullable: true }
        ocppIdTag: { type: string, nullable: true }
        ocppTransactionId: { type: integer, nullable: true }
        tags: { type: array, items: { type: string } }
        site: { $ref: '#/components/schemas/SiteRef' }
        charger: { $ref: '#/components/schemas/Charger' }
        port: { $ref: '#/components/schemas/PortRef' }
        vehicle: { $ref: '#/components/schemas/VehicleRef' }
        rfid: { $ref: '#/components/schemas/RfidRef' }
        customer: { $ref: '#/components/schemas/Customer' }
        organization: { $ref: '#/components/schemas/Organization' }
    SiteRef:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        locationId: { type: string, nullable: true }
    PortRef:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        portNumber: { type: integer }
        maximumPowerKw: { type: number, nullable: true }
    VehicleRef:
      type: object
      nullable: true
      properties:
        id: { type: integer }
        name: { type: string, nullable: true }
        make: { type: string, nullable: true }
        model: { type: string, nullable: true }
        vin: { type: string, nullable: true }
    RfidRef:
      type: object
      nullable: true
      properties:
        id: { type: integer }
        name: { type: string, nullable: true }
    AccessId:
      type: object
      properties:
        id: { type: integer }
        ocppIdTag: { type: string }
        type: { type: string, enum: [RFID, Vehicle] }
        name: { type: string }
        authorizationStatus: { type: string, enum: [Authorized, Revoked] }
        authorizedAt: { type: string, format: date-time }
        revokedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        vehicle: { $ref: '#/components/schemas/VehicleRef' }
        customer: { $ref: '#/components/schemas/Customer' }
    AccessIdCreate:
      type: object
      required: [type, name, ocppIdTag]
      properties:
        type: { type: string, enum: [RFID, Vehicle] }
        name: { type: string }
        ocppIdTag: { type: string }
        authorizationStatus: { type: string, enum: [Authorized, Revoked], default: Authorized }
        vehicle:
          type: object
          properties:
            make: { type: string }
            model: { type: string }
            vin: { type: string }
        vehicleId: { type: integer }
        customer: { $ref: '#/components/schemas/Customer' }
    AccessIdBatchItem:
      type: object
      required: [ocppIdTag, name, type]
      properties:
        ocppIdTag: { type: string }
        name: { type: string }
        type: { type: string, enum: [RFID, Vehicle] }
        authorizationStatus: { type: string, enum: [Authorized, Revoked] }
        vehicle:
          type: object
          properties:
            make: { type: string, nullable: true }
            model: { type: string, nullable: true }
            vin: { type: string, nullable: true }
        customer: { $ref: '#/components/schemas/Customer' }
    Vehicle:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, nullable: true }
        make: { type: string, nullable: true }
        model: { type: string, nullable: true }
        vin: { type: string, nullable: true }
        licensePlate: { type: string, nullable: true }
        hasTelematics: { type: boolean }
        customer: { $ref: '#/components/schemas/Customer' }
        accessIds:
          type: array
          items:
            type: object
            properties:
              id: { type: integer }
              ocppIdTag: { type: string }
              authorizationStatus: { type: string, enum: [Authorized, Revoked] }
    VehicleCreate:
      type: object
      properties:
        name: { type: string }
        make: { type: string, nullable: true }
        model: { type: string, nullable: true }
        vin: { type: string, nullable: true }
        licensePlate: { type: string, nullable: true }
        customer: { $ref: '#/components/schemas/Customer' }
        accessIds:
          type: array
          items:
            type: object
            properties:
              ocppIdTag: { type: string }
              authorizationStatus: { type: string, enum: [Authorized, Revoked] }
    Alert:
      type: object
      properties:
        id: { type: integer }
        type: { type: string, enum: [lowBattery, chargingCompleted, chargingSessionError, offlineCharger, lateCharging] }
        startTimestamp: { type: string, format: date-time }
        muted: { type: boolean }
        lowBattery: { type: object, nullable: true }
        chargingCompleted: { type: object, nullable: true }
        chargingSessionError: { type: object, nullable: true }
        offlineCharger: { type: object, nullable: true }
        lateCharging: { type: object, nullable: true }
        chargingSession: { type: object, nullable: true }
        site: { $ref: '#/components/schemas/SiteRef' }
        charger: { $ref: '#/components/schemas/Charger' }
    ChargerError:
      type: object
      properties:
        id: { type: integer }
        timestamp: { type: string, format: date-time }
        ocppErrorCode: { type: string }
        vendorErrorCode: { type: string, nullable: true }
        ocppInfo: { type: string, nullable: true }
        ocppStatus: { type: string }
        errorCategory: { type: string, enum: [endedCharging, preventedCharging, muted, other] }
        chargingSession: { type: object, nullable: true }
        site: { $ref: '#/components/schemas/SiteRef' }
        charger: { $ref: '#/components/schemas/Charger' }
        port: { $ref: '#/components/schemas/PortRef' }
        organization: { $ref: '#/components/schemas/Organization' }
    OcppMessage:
      type: object
      properties:
        id: { type: integer }
        createdAt: { type: string, format: date-time }
        ocppChargerIdentity: { type: string }
        messageType: { type: string }
        messagePayload: {}
        messageResponse: {}
        chargerId: { type: integer }
        protocol: { type: string, description: "'ocpp1.6' or 'ocpp2.0.1'." }
    SitePowerLimitSchedule:
      type: object
      properties:
        id: { type: string }
        createdAt: { type: string, format: date-time }
        source: { type: string, description: 'How the limit was created - "manual", "api", etc.' }
        type: { type: string, enum: [cost, capacity] }
        schedules:
          type: array
          items:
            type: object
            properties:
              daysOfWeek: { type: array, items: { type: integer } }
              chargingRateUnit: { type: string, enum: [W, A] }
              chargingSchedulePeriods:
                type: array
                items:
                  type: object
                  properties:
                    startPeriod: { type: integer }
                    limit: { type: number }
    DepartureTimeInput:
      type: object
      required: [departureTime]
      properties:
        departureTime: { type: string, format: date-time }
        shiftName: { type: string }
        routeName: { type: string }
        targetSoc: { type: integer, minimum: 0, maximum: 100, default: 90 }
    DepartureTimeResult:
      type: object
      properties:
        departureTime: { type: string, format: date-time }
        outcome: { type: string, enum: [created, skipped] }
        id: { type: integer, nullable: true }
        vehicleId: { type: integer, nullable: true }
        vehicleVin: { type: string, nullable: true }
        shiftName: { type: string, nullable: true }
        routeName: { type: string, nullable: true }
        targetSoc: { type: integer, nullable: true }
    MaintenanceWindow:
      type: object
      properties:
        id: { type: integer }
        startTimestamp: { type: string, format: date-time }
        endTimestamp: { type: string, format: date-time }
        comment: { type: string, nullable: true }
        userEmail: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        charger: { $ref: '#/components/schemas/Charger' }
        site: { $ref: '#/components/schemas/SiteRef' }
        organization: { $ref: '#/components/schemas/Organization' }
